{% extends "BackBundle:Default:common.html.twig" %}

{% block title %}Product Manager{% endblock %}

{% block serviceType %}Inicio{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Bienvenido</h1>
        </div>
        <div class="row">
            <table class="table">
                <tr class="active">
                    <th>SKU</th>
                    <th>Nombre de Producto</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for product in products %}
                    <tr>
                        <td>{{ product.sku }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.category.name }}</td>
                        <td><a href="{{ path('update_product', {'id':product.id}) }}">Editar</a></td>
                        <td><a href="{{ path('delete_product', {'id':product.id}) }}">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
