{% extends "BackBundle:Default:common.html.twig" %}

{% block title %}New Category{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Agregar Nueva Categoria</h1>
        </div>
        <div class="row col-lg-6" style="margin-bottom: 20px">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.image_url, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
        <div class="row">
            {% if categories %}
                <table class="table">
                    <tr class="active">
                        <th>Nombre</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td><a href="{{ path('update_category', {'id':category.id}) }}">Editar</a></td>
                            <td><a href="{{ path('delete_category', {'id':category.id}) }}">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}