{% extends "BackBundle:Default:common.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>{{ title }}</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.sku, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.price, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.url, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
            </div>
            {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
    {% endblock %}
