{% extends "BackBundle:Default:common.html.twig" %}

{% block title %}Messages{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Mensajes</h1>
        </div>
        <div class="row">
            <table class="table">
                <tr class="active">
                    <th>Remitente</th>
                    <th>Contacto</th>
                    <th>Asunto</th>
                    <th>Mensaje</th>
                    <th></th>
                </tr>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.name }}</td>
                        <td>{{ message.contact }}</td>
                        <td>{{ message.subject }}</td>
                        <td>{{ message.message }}</td>
                        <td><a href="{{ path('delete_message', {'id':message.id}) }}">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}