{% extends "FrontBundle:Default:common.html.twig" %}

{% block title %}Categorias{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Categorias</h1>
        </div>
        <div class="row">
            {% for category in categories %}
                <a href="{{ path('products-by-category', {'id':category.id}) }}">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ category.name }}</h3>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <img class="col-lg-12 img-resposive" src="{{ category.imageurl }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}