{% extends "FrontBundle:Default:common.html.twig" %}

{% block title %}Contactenos{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Formulario de Contacto</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.contact, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.subject, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                {{ form_row(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}