{% extends "FrontBundle:Default:common.html.twig" %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>{{ product.name }}</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center img_container">
                    <img class="thumbnail img-responsive" src="{{ product.url }}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <p><strong>SKU: </strong>{{ product.sku }}</p>
                <p><strong>Precio: </strong>{{ product.price }}</p>
                <p><strong>Descripcion: </strong>{{ product.description }}</p>
                <p><strong>Categoria: </strong><a href="{{ path('products-by-category', {'id':product.category.id}) }}">{{ product.category.name }}</a></p>
            </div>
        </div>
    </div>
{% endblock %}