{% extends "FrontBundle:Default:common.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>{{ title }}</h1>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ product.name }}</h3>
                        </div>
                        <div class="panel-body">
                            <div>
                                <img class="col-lg-12 img-resposive" src="{{ product.url }}" alt="">
                            </div>
                            <div class="col-lg-12">
                                <h4><strong>Precio: </strong>{{ product.price }}</h4>
                                <a href="{{ path('item', {'id':product.id}) }}" class="btn btn-primary" role="button">Ficha completa</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}